* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova";
}

.apply_bar {
    width: 100%;
    height: 3rem;
    padding: 1rem 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f6f0e6;
}

.apply_bar a {
    text-decoration: none;
    color: #333333;
    padding-right: 2rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.apply_bar button {
    margin: 2rem;
    padding: 0.2rem 0.5rem;
    background-color: #6c4327;
    border-radius: 1rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}

.main_nav {
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0d8cb;
    position: sticky;
    top: 0;
    z-index: 5000;
}

.main_nav .logo {
    height: 100%;
    width: 17%;
    display: flex;
    align-items: center;
}

.main_nav .logo img {
    height: 75%;
    width: 100%;
    padding: 0rem 1rem;
}

.main_nav .nav_links {
    width: 83%;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 3rem;
    padding-right: 0.5rem;
}

.main_nav .nav_links a {
    text-decoration: none;
    color: #6c4327;
    font-weight: 550;
    padding-right: 2rem;
    justify-content: space-around;
}

.main_body {
    height: 110vh;
    width: 100%;
    background-color: #f6f6f6;
}

.main_body .video video {
    height: 110vh;
    width: 75%;
    position: relative;
    left: 25%;
    object-fit: cover;
    opacity: 0.6;
    z-index: 1000;
}

.main_body .content {
    width: 29%;
    height: 14rem;
    display: inline-block;
    background-color: #012d45;
    padding: 6px 6px;
    position: absolute;
    left: 3.3%;
    top: 36%;
    z-index: 1000;
}

.main_body .content h3 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    line-height: 76.8px;
    text-align: left;
}

.main_body .content2 h2 {
    position: absolute;
    top: 99vh;
    left: 3.3%;
    color: #012d45;
    width: 32%;
    height: 9rem;
    font-size: 1.5rem;
    z-index: 1000;
    word-spacing: 0.7rem;
    line-height: 2rem;
}

.main_body .pallette .animate_images img {
    width: 38%;
    height: 85%;
    position: absolute;
    bottom: 0;
    top: 16rem;
    left: 42rem;
    z-index: 1000;
    opacity: 0;
    animation: fade 12s infinite ease-in-out;
    animation-fill-mode: forwards;
}

.main_body .pallette .animate_images .person1 {
    animation-delay: 0s;
}

.main_body .pallette .animate_images .person2 {
    animation-delay: 4s;
}

.main_body .pallette .animate_images .person3 {
    animation-delay: 8s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 0.8;
    }

    25% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

.main_body .apply_now img {
    height: 7rem;
    width: 8rem;
    position: fixed;
    bottom: 2%;
    left: 90%;
    z-index: 10000;
}

.program_body {
    height: 60rem;
    width: 100%;
    padding: 4rem 0;
    background-color: #f9f6ed;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.program_container {
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 1rem;
}

.program_body .program_container .title {
    height: 4rem;
    width: 100%;
    margin-bottom: 6rem;
}

.program_body .program_container .title h1 {
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 2rem;
    opacity: 0.9;
    color: #333;
}

.program_body .program_container .course {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.program_body .program_container .course .course_link {
    width: 20%;
    height: 4rem;
    border-bottom: 1px solid grey;
    padding: 0.5rem;
    margin-right: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.program_body .program_container .course .course_link a {
    font-size: 18px;
    color: #a06c2e;
    text-decoration: none;
}

.program_body .program_container .course .course_link:hover {
    color: #a06c2e;
    border-bottom: 2px solid #a06c2e;
    font-weight: 600;
}

.program_body .program_container .main_div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.program_body .program_container .main_div .classroom {
    position: relative;
    width: 35%;
    margin-right: 2rem;
}

.program_body .program_container .main_div .classroom img {
    width: 100%;
    height: 34.3rem;
    border-radius: 1rem;
    visibility: visible;
}

.program_body .program_container .program_offered {
    flex-wrap: wrap;
    width: 65%;
    position: relative;
    left: 0;
    height: 35rem;
    display: flex;
}

.program_body .program_container .program_offered .card1 {
    width: 30%;
    height: 31%;
    background-color: transparent;
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    border: 1px solid rgb(205, 164, 82);
    padding: 20px 12px;
    gap: 12px;
    margin-right: 1.5rem;
}

.program_body .program_container .program_offered .card1 .programicon {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.program_body .program_container .program_offered .card1 .programicon img {
    width: 38%;
    height: 100%;
}

.program_body .program_container .program_offered .card1 .course_name {
    height: 55%;
    width: 100%;
    color: #333;
    font-weight: 600;
    font-size: 1.4rem;
}

.program_body .program_container .program_offered .card1:hover {
    opacity: 1;
    background-color: #fff;
    transform: rotate(-1deg);
}

.why_us {
    height: 25rem;
    width: 100%;
}

.why_us .title {
    height: 4rem;
    width: 100%;
    margin-bottom: 3rem;
}

.why_us .title h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 2rem;
    padding-top: 3.5rem;
    opacity: 0.9;
    color: #000;
}

.whyus_body {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.reason1 {
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why_us .whyus_body .reason1 span {
    position: relative;
    bottom: 5rem;
    height: 0;
    font-size: 3.5rem;
    font-weight: 600;
}

.why_us .whyus_body .reason1 img {
    height: larger;
    margin: 1.5rem 2rem;
}

.why_us .whyus_body .reason1 p {
    font-size: 1.5rem;
    font-weight: 450;
}

.campus {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    background-image: url("Reference/whyus3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24rem;
    padding: 2rem;
}

.campus span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campus span h2 {
    font-size: 60px;
    color: #000;
    position: relative;
    top: 5rem;
}

.campus .facilities {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0rem;
    justify-content: center;
    position: relative;
    top: 5rem;
}

.campus .facilities a {
    font-size: 3rem;
    font-weight: 250;
    padding-right: 3.2rem;
    text-decoration: none;
    color: #7f7979;
}

.campus .facilities a:hover {
    font-size: 3.1rem;
    color: #333;
    transition: 0.2s;
}

.excellence {
    height: 26rem;
    width: 100%;
    display: flex;
    background: #e5d4a3;
    background-image: url("Reference/center-mask.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 60px 3rem;
}

.excellence .award {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.excellence .award img {
    width: 6rem;
    height: 6rem;
}

.excellence .award h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    color: #6c4327;
}

.excellence .award span {
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    color: #6c4327;
    text-align: left;
}

.excellence .excellence_para {
    display: flex;
    overflow: hidden;
    width: 85%;
    height: 100%;
    margin: 0 2rem;
}

.excellence .excellence_para p {
    font-size: 24px;
    font-weight: 400;
    line-height: 2.8rem;
    text-align: left;
    color: #333333;
    align-self: baseline;
    margin-top: 7rem;
}

.lifeon_campus {
    width: 100%;
    height: 130vh;
    display: flex;
    background-color: #f9f6ed;
    padding: 1rem;
}

.lifeon_campus .life_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lifeon_campus .life_container .life_title {
    width: 100%;
    height: 4rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lifeon_campus .life_container .life_title h1 {
    font-size: 3.5rem;
    z-index: 20;
}

.lifeon_campus .life_container .photos {
    width: 100%;
    height: 80%;
    padding: 0.5rem;
}

.lifeon_campus .life_container .festival {
    width: 23%;
    height: 100%;
    position: relative;
    left: 1rem;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.lifeon_campus .life_container .photos .festival img {
    border-radius: 10px;
}

.lifeon_campus .life_container .photos .festival img:hover {
    transform: scale(1.1);
}

.lifeon_campus .life_container .photos .festival p {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    z-index: 20;
    width: 100%;
    color: white;
    letter-spacing: 1px;
}

.lifeon_campus .life_container .photos .upper_photos {
    height: 48%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 100%;
    left: 25%;
}

.lifeon_campus .life_container .photos .upper_photos .photo1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 0.5rem;
}

.lifeon_campus .life_container .photos .upper_photos .photo1 img:hover {
    transform: scale(1.01);
}

.lifeon_campus .life_container .photos .upper_photos .photo2 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 0.5rem;
    overflow: hidden;
}

.lifeon_campus .life_container .photos .upper_photos .photo2 img:hover {
    transform: scale(1.01);
}

.lifeon_campus .life_container .photos .upper_photos .photo3 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 0.5rem;
    overflow: hidden;
}

.lifeon_campus .life_container .photos .upper_photos .photo3 img:hover {
    transform: scale(1.01);
}

.lifeon_campus .life_container .photos .upper_photos .photo4 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 0.5rem;
    overflow: hidden;
}

.lifeon_campus .life_container .photos .upper_photos .photo4 img:hover {
    transform: scale(1.01);
}

.lifeon_campus .life_container .photos .lower_photos {
    height: 50%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 100%;
    left: 25%;
    margin-top: 1rem;
}

.lifeon_campus .life_container .photos .lower_photos .photo5 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 0.5rem;
}

.lifeon_campus .life_container .photos .lower_photos .photo5 img:hover {
    transform: scale(1.01);
}

.lifeon_campus .life_container .photos .lower_photos .photo6 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 0.5rem;
    overflow: hidden;
}

.lifeon_campus .life_container .photos .lower_photos .photo6 img:hover {
    transform: scale(1.01);
}

.lifeon_campus .life_container .photos .lower_photos .photo7 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 0.5rem;
    overflow: hidden;
}

.lifeon_campus .life_container .photos .lower_photos .photo7 img:hover {
    transform: scale(1.01);
}

.story {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
}

.story .story_container {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.story .story_title {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 2rem 0rem;
}

.story .story_title h1 {
    font-size: 3rem;
}

.story .story_container .buttons {
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.story .story_container .buttons .but1,
.but2,
.but3,
.but4 {
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(128, 128, 128);
    padding-right: 1rem;
}

.story .story_container .buttons .but1,
.but2,
.but3,
.but4 h3 {
    color: rgb(205, 164, 82);
    font-size: 1rem;
    font-weight: 600;
}

.story .story_container .achievers {
    height: 50rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 5rem;
    margin-top: 2rem;
}

.story .story_container .achievers .ind1 {
    height: 100%;
    width: 30%;
}

.story .story_container .achievers .ind2 {
    height: 100%;
    width: 30%;
}

.story .story_container .achievers .ind3 {
    height: 100%;
    width: 30%;
}

.story .story_container .achievers .ind1 img {
    height: 100%;
    width: 100%;
    filter: grayscale(90%);
    border-radius: 10px;
}

.story .story_container .achievers .ind2 img {
    height: 100%;
    width: 100%;
    filter: grayscale(90%);
    border-radius: 10px;
}

.story .story_container .achievers .ind3 img {
    height: 100%;
    width: 100%;
    filter: grayscale(90%);
    border-radius: 10px;
}

.story .story_container .dot {
    height: 1rem;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story .story_container .dot .dot1 {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: #a06c2e;
    margin-right: 0.5rem;
}

.story .story_container .dot .dot2 {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: rgb(249, 199, 97);
}

.story .story_container .achievers .ind img:hover {
    z-index: 1;
    box-shadow: 1px 1px 5px #000;
    transition-duration: 0.3s;
    transform: scale(1.1);
}

.recruiter {
    width: 100%;
    height: 25rem;
    background-color: #fff;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.5rem 0;
    overflow: hidden;
}

.recruiter .recruiter_title {
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.recruiter .recruiter_title h2 {
    font-size: 3rem;
}

.recruiter .marquee {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    overflow: hidden;
}

.recruiter .marquee .logo img {
    height: 3.5rem;
    width: 4.5rem;
    display: flex;
}

.recruiter .company_logo1 {
    animation: marquee1 15s linear infinite running;
}

.recruiter .marquee:hover {
    animation: none;
    transition-delay: 2s;
}

.recruiter .company_logo2 {
    animation: marquee2 15s linear infinite running;
}

@keyframes marquee1 {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(-50%);
    }

    100% {
        transform: translate(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(50%);
    }

    100% {
        transform: translate(100%);
    }

}

.upper_footer {
    height: 16rem;
    width: 100%;
    background-color: rgb(249, 246, 237);
    color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.upper_footer .footer_title {
    height: 3rem;
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.upper_footer .footer_title h1 {
    font-size: 2.5rem;
    font-weight: 650;
    line-height: 27px;
    display: flex;
}

.upper_footer .step-container {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.upper_footer .step-container .con1 {
    width: 35%;
    height: 4rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #6c4327;
    padding: 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px #6c4327;
}

.upper_footer .step-container .con1:hover {
    background-color: rgba(217, 227, 236, 0.9);
    border: none;
    transform: rotate(-2deg);
}

.upper_footer .step-container .con1 .start {
    height: 100%;
    width: 90%;
    justify-content: start;
}

.upper_footer .step-container .con1 .start a {
    color: #6c4327;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 0.5rem;
    text-decoration: none;
}

.upper_footer .step-container .con1 .end {
    justify-content: end;
}

.main_footer {
    height: 130vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: #f7f3ea;
    padding-top: 50px;
    color: #333;
}

.main_footer .footer_content {
    width: 100%;
    height: 81vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 0 50px 0px 50px;
}

.main_footer .Quick_links {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main_footer .footer_content .Quick_links h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #444;
}

.main_footer .footer_content .Quick_links ul li {
    margin-bottom: 1rem;
    justify-content: space-evenly;
    display: block;
}

.main_footer .footer_content .Quick_links ul li a {
    text-decoration: none;
    color: grey;
    font-size: 1.1rem;
}

.main_footer .footer_content .Quick_links ul li a:hover {
    color: black;
    transform: 0.2s;
}

.main_footer .footer_content .centre {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main_footer .footer_content .centre h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #444;
}

.main_footer .footer_content .centre ul li {
    margin-bottom: 1rem;
    justify-content: space-evenly;
    display: block;
}

.main_footer .footer_content .centre ul li a {
    text-decoration: none;
    color: grey;
    font-size: 1.1rem;
}

.main_footer .footer_content .centre ul li a:hover {
    color: black;
    transform: 0.2s;
}

.main_footer .footer_content .downloads {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main_footer .footer_content .downloads h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #444;
}

.main_footer .footer_content .downloads ul li {
    margin-bottom: 1rem;
    justify-content: space-evenly;
    display: block;
}

.main_footer .footer_content .downloads ul li a {
    text-decoration: none;
    color: grey;
    font-size: 1.1rem;
}

.main_footer .footer_content .downloads ul li a:hover {
    color: black;
    transform: 0.2s;
}

.main_footer .footer_content .student_corner {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main_footer .footer_content .student_corner h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #444;
}

.main_footer .footer_content .student_corner ul li {
    margin-bottom: 1rem;
    justify-content: space-evenly;
    display: block;
}

.main_footer .footer_content .student_corner li a {
    text-decoration: none;
    color: grey;
    font-size: 1.1rem;
}

.main_footer .footer_content .student_corner li a:hover {
    color: black;
    transform: 0.2s;
}

.main_footer .footer_content .student_corner #downloadButton {
    height: 2rem;
    width: 100%;
    display: flex;
}

.main_footer .footer_content .student_corner #downloadButton a img {
    height: 2rem;
    width: 5rem;
    margin-right: 1rem;
}

.main_footer .footer_content .footer_row {
    height: 38vh;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main_footer .footer_content .footer_row .social-icons {
    height: 2rem;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_footer .footer_content .footer_row .social-icons a img {
    height: 1.8rem;
    width: 2.5rem;
    padding-right: 0.5rem;
}

.main_footer .footer_content .footer_row .info {
    display: flex;
}

.main_footer .footer_content .footer_row .info img {
    height: 1.8rem;
    width: 2.5rem;
    padding-right: 0.5rem;
}

.main_footer .footer_content .footer_row .info a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #000;
    opacity: 0.6;
    font-weight: 350;
}

.main_footer .footer_content .footer_row li a:hover {
    color: black;
    transform: 0.2s;
}

.footer_bottom {
    height: 3.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    padding: 0rem 4.2rem;
    background-color: #e0d8cb;
    flex-wrap: wrap;
}

.footer_bottom div a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #000;
    opacity: 0.6;
    font-weight: 350;
}

.footer_bottom div p {
    font-size: 1.6;
    font-weight: 550;
}

@media(max-width:480px) {
    .apply_bar {
        width: 400%;
        height: 3.5rem;
    }

    .apply_bar a {
        font-size: 1.6rem;
    }

    .apply_bar button b {
        font-size: 1rem;
    }

    .main_nav {
        width: 400%;
    }

    .main_nav .nav_links {
        display: flex;
        justify-content: space-evenly;
    }

    .main_nav .nav_links a {
        font-size: 1.2rem;
    }

    .main_nav .logo {
        padding: 0 1.5rem;
        margin-right: 1rem;
        width: 25%
    }

    .main_nav .nav_links .logo img {
        width: 22%;
    }

    .main_body {
        width: 400%;
        height: auto;
        overflow: hidden;
    }

    .main_body .video {
        position: relative;
        left: 12%;
        width: 100%;
        height: 100%;
    }

    .main_body .content {
        width: 80%;
        height: auto;
    }

    .main_body .content2 h2 {
        width: 150%;
        height: auto;
    }

    .main_body .pallette .animate_images img {
        left: 240%;
        width: 100%;
    }

    .program_body {
        width: 400%;
        height: auto;
    }

    .program_body .program_container {
        padding-right: 2rem;
        width: 380%;
    }

    .program_body .program_container .course .course_link a {
        font-size: larger;
    }

    .main_div .program_offered .card1 .course_name p {
        font-size: larger;
        font-weight: 520;
    }

    .why_us {
        width: 400%;
        height: auto;
    }

    .campus {
        width: 400%;
        height: 40rem;
    }

    .excellence {
        width: 400%;
        height: 30rem;
    }

    .lifeon_campus {
        width: 400%;
        height: 180vh;
    }

    .lifeon_campus .life_container .photos .festival img {
        width: 100%;
    }

    .lifeon_campus .life_container .photos .festival p {
        font-size: xx-large;
        font-weight: 510;
    }

    .lifeon_campus .life_container .photos .upper_photos .pic p {
        font-size: xx-large;
        font-weight: 510;
    }

    .lifeon_campus .life_container .photos .lower_photos .pic1 p {
        font-size: xx-large;
        font-weight: 510;
    }

    .story {
        width: 400%;
        height: 180vh;
    }

    .story .story_container {
        width: 380%;
        height: 100%;
        padding: 0rem 7rem;
        justify-content: center;
    }

    .story .story_container .story_title {
        padding: 3rem 0rem;
    }

    .story .story_container .story_title h1 {
        font-size: 5rem;
    }

    .story .story_container .buttons .but1,
    .but2,
    .but3,
    .but4 h3 {
        font-size: 1.8rem;
        padding-bottom: 2rem;
    }

    .story .story_container .achievers .ind img {
        border-radius: 1.3rem;
    }

    .recruiter {
        width: 400%;
        height: 35rem;
    }

    .recruiter .recruiter_title h2 {
        font-size: 5rem;
        padding: 3rem 0rem;
    }

    .recruiter .marquee {
        height: 6rem;
    }

    .recruiter .marquee .logo img {
        height: 4rem;
        width: 8rem;
    }

    .upper_footer {
        width: 400%;
        height: auto;
    }

    .upper_footer .footer_title h1 {
        font-size: 6rem;
        margin-bottom: 5px;
    }

    .upper_footer .step-container .con1 {
        height: 6rem;
        padding: none;
    }

    .upper_footer .step-container .con1 .start i,
    a {
        line-height: 3rem;
    }

    .upper_footer .step-container .con1 .start i {
        height: 3rem;
        width: 3rem;
    }

    .upper_footer .step-container .con1 .start a {
        font-size: 2rem;
        word-spacing: 0.6rem;
        font-weight: 500;
    }

    .main_footer {
        width: 400%;
        height: 250vh;
    }

    .main_footer .footer_content .Quick_links {
        height: auto;
    }

    .main_footer .footer_content .centre {
        height: auto;
    }

    .main_footer .footer_content .downloads {
        height: auto;
    }

    .main_footer .footer_content .student_corner {
        height: auto;
    }

    .main_footer .footer_content .Quick_links h3 {
        font-size: 2rem;
    }

    .main_footer .footer_content .centre h3 {
        font-size: 2rem;
    }

    .main_footer .footer_content .downloads h3 {
        font-size: 2rem;
    }

    .main_footer .footer_content .student_corner h3 {
        font-size: 2rem;
    }

    .main_footer .footer_content .Quick_links ul li a {
        font-size: 1.6rem;
    }

    .main_footer .footer_content .centre ul li a {
        font-size: 1.6rem;
    }

    .main_footer .footer_content .downloads ul li a {
        font-size: 1.6rem;
    }

    .main_footer .footer_content .student_corner ul li a {
        font-size: 1.6rem;
    }

    .main_footer .footer_content .student_corner #downloadButton a {
        font-size: 2rem;
        padding-bottom: 4rem;
    }

    .main_footer .footer_content .student_corner #downloadButton a img {
        height: 3rem;
        width: 7rem;
    }

    .main_footer .footer_content .footer_row {
        width: 400%;
        height: auto;
    }

    .main_footer .footer_content.footer_row .social-icons {
        margin-bottom: 1rem;
    }

    .main_footer .footer_content .footer_row h3 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .main_footer .footer_content .footer_row .social-icons a img {
        height: 2.5rem;
        width: 2.5rem;
    }

    .main_footer .footer_content .footer_row .info {
        padding-bottom: 0.5rem;
    }

    .main_footer .footer_content .footer_row .info img {
        height: 2.5rem;
        width: 2.5rem;
    }

    .main_footer .footer_content .footer_row .info a {
        font-size: 1.8rem;
        opacity: 0.7;
        word-spacing: 0.5;
    }

    .footer_bottom {
        width: 400%;
        height: 5rem;
    }

    .footer_bottom div p {
        font-size: xx-large;
    }

    .footer_bottom div a {
        font-size: 2rem;
        word-spacing: 0.7;
        opacity: 0.8;
    }
}

@media((min-width:481px) and (max-width:720px)) {
    .apply_bar {
        width: 197%;
        height: 3.5rem;
        overflow: hidden;
    }

    .main_nav {
        width: 197%;
        overflow: hidden;
    }

    .main_nav .nav_links {
        padding-left: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .main_nav .nav_links a {
        font-size: 1rem;
        padding-right: 1rem;
    }

    .main_nav .logo {
        padding: 0;
        width: 25%;
        margin-right: 0rem;
    }

    .main_nav .nav_links .logo img {
        width: 22%;
    }

    .main_body {
        width: 197%;
        height: 100vh;
        overflow: hidden;
    }

    .main_body .video {
        position: relative;
        left: 15%;
    }

    .main_body .content {
        width: 50%;
    }

    .main_body .content2 h2 {
        width: 60%;
        height: auto;
    }

    .main_body .pallette .animate_images img {
        width: 55%;
    }

    .program_body {
        width: 197%;
        height: auto;
        display: flex;
    }

    .program_body .program_container {
        width: 100%;
        padding: 1rem;
    }

    .program_body .program_container .main_div .program_offered {
        width: 100%;
        height: 100%;
    }

    .program_body .program_container .main_div .classroom {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .program_body .program_container .main_div .program_offered {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .program_body .program_container .main_div .program_offered .card1 {
        width: 40%;
        margin-bottom: 1rem;
    }

    .why_us {
        width: 197%;
        height: 25rem;
    }

    .campus {
        width: 197%;
        height: auto;
        margin-bottom: 3rem;
    }

    .campus .facilities a {
        font-size: 3rem;
    }

    .excellence {
        width: 197%;
        height: auto;
        padding: 1.5rem;
    }

    .excellence .award {
        width: 20%;
        height: 100%;
    }

    .lifeon_campus {
        width: 197%;
    }

    .story {
        width: 197%;
    }

    .recruiter {
        width: 197%;
    }

    .upper_footer {
        width: 197%;
        padding: 2rem;
    }

    .upper_footer .step-container .con1 .start a {
        font-size: 1rem;
    }

    .main_footer {
        width: 197%;
        height: 160vh;
    }

    .main_footer .footer_content .Quick_links {
        height: auto;
    }

    .main_footer .footer_content .centre {
        height: auto;
    }

    .main_footer .footer_content .downloads {
        height: auto;
    }

    .main_footer .footer_content .student_corner {
        height: auto;
    }

    .footer_bottom {
        width: 197%;
    }

}

@media((min-width:721px) and (max-width:980px)) {
    .apply_bar {
        width: 122.5%;
        overflow: hidden;
    }

    .main_nav {
        width: 122.5%;
        overflow: hidden;
    }

    .main_nav .nav_links {
        padding-left: 0rem;
        display: flex;
        justify-content: space-evenly;
    }

    .main_nav .nav_links a {
        font-size: 0.65rem;
    }

    .main_body {
        width: 122.5%;
    }

    .main_body .pallette .animate_images img {
        left: 35rem;
        width: 45%;
    }

    .main_body .content {
        width: 40%;
    }

    .main_body .content2 {
        width: 45%;
        height: 4rem;
    }

    .program_body {
        width: 122.5%;
        display: flex;
    }

    .program_body .program_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .program_body .program_container .main_div .program_offered {
        width: 100%;
        height: 100%;
    }

    .program_body .program_container .main_div .classroom {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .program_body .program_container .main_div .program_offered {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .program_body .program_container .main_div .program_offered .card1 {
        width: 30%;
        margin-bottom: 1rem;
    }

    .why_us {
        width: 122.5%;
    }

    .excellence {
        width: 122.5%;
        padding: 2rem;
    }

    .excellence .award {
        width: 12rem;
        margin-right: 2rem;
    }

    .excellence .excellence_para p {
        font-size: 1.2rem;
    }

    .campus {
        width: 122.5%;
        height: 50rem;
    }

    .lifeon_campus {
        width: 122.5%;
    }

    .story {
        width: 122.5%;
    }

    .recruiter {
        width: 122.5%;
    }

    .upper_footer {
        width: 122.5%;
    }

    .upper_footer .step-container .con1 .start a {
        font-size: 0.8rem;
        align-items: center;
    }

    .main_footer {
        width: 122.5%;
        height: 135vh;
        overflow-wrap: break-word;
    }

    .main_footer .footer_content .footer_row .info {
        padding-bottom: 1rem;
    }

    .main_footer .footer_content {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
    }

    .main_footer .footer_content .Quick_links {
        height: auto;
    }

    .main_footer .footer_content .centre {
        height: auto;
    }

    .main_footer .footer_content .downloads {
        height: auto;
    }

    .main_footer .footer_content .student_corner {
        height: auto;
    }

    .main_footer .footer_content .footer_row {
        width: auto;
        height: 83vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .main_footer .footer_content .footer_row .social-icons {
        width: auto;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .main_footer .footer_content .footer_row .info {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
    }

    .main_footer .footer_content .footer_row .info img {
        margin-bottom: 0;
    }

    .main_footer .footer_content .footer_row .info a {
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .footer_bottom {
        width: 122.5%;
    }

}

@media((min-width:981px) and (max-width:1200px)) {
    .apply_bar {
        width: 116%;
        height: 3rem;
    }

    .main_nav {
        width: 116%;
        height: 5.5rem;
    }

    .main_nav .logo {
        width: 22%;
    }

    .main_nav .nav_links {
        width: 78%;
        padding-left: 0rem;
        display: flex;
        justify-content: space-evenly;
    }

    .main_nav .nav_links a {
        font-size: 0.79rem;
    }

    .main_body {
        width: 116%;
        height: 110vh;
    }

    .program_body {
        width: 116%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .program_body .program_container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .program_body .program_container .main_div .program_offered {
        width: 70%;
        height: 70%;
    }

    .program_body .program_container .main_div .classroom {
        height: 100%;
        width: 30%;
    }

    .program_body .program_container .main_div .program_offered {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .program_body .program_container .main_div .program_offered .card1 {
        width: 30%;
        margin-bottom: 1rem;
    }

    .why_us {
        width: 116%;
    }

    .campus {
        width: 116%;
    }

    .excellence {
        width: 116%;
    }

    .excellence .award {
        width: 12rem;
        margin-right: 1.2rem;
    }

    .excellence .excellence_para p {
        font-size: 1.3rem;
        margin: 0rem 1rem;
    }

    .lifeon_campus {
        width: 116%;
    }

    .story {
        width: 116%;
    }

    .index {
        width: 116%;
    }

    .upper_footer {
        width: 116%;
    }

    .upper_footer .step-container .con1 .start a {
        font-size: 1.3rem;
    }

    .main_footer {
        width: 116%;
        height: 165vh;
    }

    .main_footer .footer_content .footer_row .info {
        padding-bottom: 1rem;
    }

    .main_footer .footer_content .Quick_links {
        height: auto;
    }

    .main_footer .footer_content .centre {
        height: auto;
    }

    .main_footer .footer_content .downloads {
        height: auto;
    }

    .main_footer .footer_content .student_corner {
        height: auto;
    }

    .footer_bottom {
        width: 116%;
    }
}

@media(min-width:1201px) {
    .main_nav .nav_links {
        display: flex;
        justify-content: space-evenly;
    }

    .main_nav .nav_links a {
        font-size: 0.9rem;
    }

    .excellence .award {
        width: 12rem;
        margin-right: 1.2rem;
    }

    .excellence .excellence_para {
        position: none;
        padding-top: 4rem;
    }

    .excellence .excellence_para p {
        font-size: 1.3rem;
        margin: 0rem 1rem;
    }

    .main_footer {
        height: 135vh;
    }

    .main_footer .footer_content .footer_row .info {
        padding-bottom: 1rem;
    }

    .main_footer .footer_content .Quick_links {
        height: auto;
    }

    .main_footer .footer_content .centre {
        height: auto;
    }

    .main_footer .footer_content .downloads {
        height: auto;
    }

    .main_footer .footer_content .student_corner {
        height: auto;
    }
}